<div class="container-fluid">
  <div class="jumbotron">
    <img src="../assets/logo.png" class="img-fluid" alt="">
    <p class="lead">PoC uso do Google captcha v3</p>
    <hr class="my-4">
    <p>Implementação manual sem uso de componente ou modulo do npm por exemplo.</p>
  </div>
  
  <div class="row mt-5">
    <div class="col-md-9 mx-auto">
        <h2 class="text-left">Angular 8 | Google ReCaptcha</h2>
        <div class="card mt-3">
            <div class="card-body">
                <div #recaptcha ></div>
            </div>
        </div>
    </div>
  </div>

  <button type="submit" (click)="enviar()"> enviar</button>
  <router-outlet></router-outlet>
</div>